<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="http://127.0.0.1:5000/">
        <h2>GO to statistical model or vector space model</h2>
        <input type="text" name='btn' placeholder="Enter the QUERY">
        <input type="submit">
    </form>

    <a href="http://127.0.0.1:5000/create">
        <h2>Create 10 random files with random characters</h2>
    </a>

</body>
</html>